aiohttp==3.7.4.post0
astroid==2.5.3
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
discord.py==1.7.1
greenlet==1.0.0
idna==3.1
idna-ssl==1.1.0
lazy-object-proxy==1.6.0
multidict==5.1.0
python-dotenv==0.17.0
six==1.15.0
SQLAlchemy==1.4.7
typed-ast==1.4.3
typing-extensions==3.7.4.3
wrapt==1.12.1
yarl==1.6.3
